body
{
	color: #000000;
	background-color: #ffffff;
	font-family: Arial;
	font-size: 12pt;
}

a
{
	color: #0000ff;
}

a:hover
{
	color: #ff0000;
}

div.flexcontainer
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

div.flexcell
{
	margin: 15px;
	padding: 0px 30px 30px;
	align-self: flex-start;
	border: solid 1px #898989;
}

p, div.flexcell
{
	text-align: center;
}

p.pageheading
{
	text-decoration: underline;
}

p.pageheading, p.heading, p.subheading
{
	font-weight: bold;
}

p.pageheading, p.heading
{
	font-size: 24pt;
}

p.subheading
{
	font-size: 18pt;
}

p.version
{
	color: #009900;
}
