@page "{seed:int?}"
@using libFetchr
@model PlayMinecraftBingo.Pages.fetchr_seed_viewerModel
@{
	ViewData["Title"] = "Fetchr Seed Viewer";
}
<p class="pageheading">Fetchr Seed Viewer</p>
<p class="version">Version @CurrentVersions.Fetchr.ToString() for Minecraft @CurrentVersions.Fetchr.Minecraft.ToString()</p>

<div class="bingoseedrow">
	<form method="post">Seed: <input type="text" name="seed" value="" /><input type="submit" value="Go"/></form>
</div>
<p><a href="/fetchr-seed-viewer/random">Random</a></p>

@if (Model.Seed != 0) {
	<div class="bingoseedrow">
		<div class="bingoseed">
			<p class="bingoseedtitle">Card Preview</p>
			<p class="bingoseednumber">@Model.Seed</p>
            @Html.Raw(FetchrCardPreview.Render(CurrentVersions.Fetchr, Model.Seed))
			<p>&nbsp;</p>
		</div>
	</div>
}
