@page "{seed:int?}"
@model PlayMinecraftBingo.Pages.fetchr_seed_viewerModel
@{
	string PageTitle = "Fetchr Seed Viewer" + (Model.Seed == 0 ? "" : " - " + Model.Seed);
	ViewData["Title"] = PageTitle;
}
<p class="pageheading">@PageTitle</p>
<p class="version">Version 5.1.1 for Minecraft 1.20.2</p>
<div class="bingoseedrow">
	<form method="post">Seed: <input type="text" name="seed" value="" /><input type="submit" value="Go"/></form>
</div>
@if (Model.Seed != 0) {
	<div class="bingoseedrow">
		<div class="bingoseed">
			<p class="bingoseedtitle">Card Preview</p>
			<p class="bingoseednumber">@Model.Seed</p>
			@Html.Raw(FetchrCardPreview.Render("5.1.1", Model.Seed))
			<p>&nbsp;</p>
		</div>
	</div>
}

<hr />
