@page
@using libFetchrVersion
@model IndexModel
@{
	ViewData["Title"] = "Play Minecraft Bingo";
}
<p class="pageheading">Play Minecraft Bingo</p>
<div class="flexcontainer">
	<div class="flexcell">
		<p>The original...</p>
		<p class="heading">Minecraft Bingo by LORGON111</p>
		<p class="version">Version 3.1 for Minecraft 1.11.2</p>
		<p class="sideheading"><strong>Download:</strong> <a href="/downloads/v3.1/world34.zip">world34.zip</a></p>
		<p class="sideheading"><strong>Links:</strong> <a href="https://twitter.com/search?q=%22Bingo%20seeds%22%20(from%3AYolay_Ole)&f=live" target="_blank">Weekly Challenge Seeds</a></p>
		<p class="sideheading">&nbsp;</p>
		<p class="subheading">Videos</p>
		<p>Changes in Version 3.1</p>
		<p><iframe width="560" height="315" src="https://www.youtube.com/embed/x-udqNYXBJw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
		<p>Gameplay Overview (based on Version 3.0)</p>
		<p><iframe width="560" height="315" src="https://www.youtube.com/embed/3V3nDkAuMQ0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
	</div>
	<div class="flexcell">
		<p>A modern re-creation...</p>
		<p class="heading">Fetchr by NeunEinser</p>
		<p class="version">Version @CurrentVersions.Fetchr.ToVersionString() for Minecraft @CurrentVersions.Minecraft</p>
		<p class="sideheading">
			<strong>Download:</strong> <a href="https://modrinth.com/datapack/fetchr" target="_blank">Modrinth</a>
			&nbsp;|&nbsp;
			<a href="https://www.curseforge.com/minecraft/worlds/fetchr" target="_blank">CurseForge</a>
			&nbsp;|&nbsp;
			<a href="https://github.com/NeunEinser/bingo/" target="_blank">GitHub</a>
		</p>
		<p class="sideheading">
			<strong>Tools:</strong> <a href="/fetchr-item-pool/">Item Pool</a>
			&nbsp;|&nbsp;
			<a href="/fetchr-seed-viewer/">Seed Viewer</a>
			&nbsp;|&nbsp;
			<a href="/fetchr-weekly-seeds/">Weekly Challenge Seeds</a>
		</p>
		<p class="sideheading">
			<strong>Links:</strong> <a href="https://discord.gg/gpa7rUrc3m" target="_blank">NeunEinser's Discord</a>
		</p>
		<p class="subheading">Images</p>
		<p>Lobby Card</p>
		<p><img src="/images/fetchr01.png" /></p>
		<p>Custom HUD</p>
		<p><img src="/images/fetchr02.png" /></p>
	</div>
</div>
