body
{
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
	background-color: #FFFFFF;
}

div.bingoseedrow
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

div.bingoseed
{
	margin: 15px;
	padding: 0px 30px 30px;
	align-self: flex-start;
	border: solid 1px #898989;
}

p
{
	text-align: center;
}

p.bingotitle, p.bingodate
{
	font-weight: bold;
	font-size: 24pt;
}

p.bingotitle
{
	text-decoration: underline;
}

p.bingoseedtitle
{
	font-weight: bold;
}

p.bingoseednumber
{
	font-family: monospace;
	font-size: 18pt;
	line-height: 0pt;
}

table.bingocard
{
	margin: 0px auto;
	border-spacing: 0px;
}

table.bingocard, table.bingocard td
{
	border: solid 1px #494949;
}

table.bingocard td
{
	background-color: #898989;
	padding: 8px;
}

table.bingocard td, table.bingocard img
{
	width: 32px;
	height: 32px;
	image-rendering: pixelated;
}

img
{
	border: none;
}

p.version
{
	color: #009900;
}

p.alertbox
{
	margin: 0px auto;
	padding: 10px;
	max-width: 700px;
	background-color: #FFFFCC;
	color: #FF0000;
	border: dotted 1px #FF0000;
}
