body
{
	color: #000000;
	background-color: #FFFFFF;
	font-family: Arial;
	font-size: 12pt;
}

a
{
	color: #0000FF;
}

a:hover
{
	color: #FF0000;
}

div.flexcontainer
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

div.flexcell
{
	margin: 15px;
	padding: 0px 30px 30px;
	align-self: flex-start;
	border: solid 1px #898989;
}

p, div.flexcell
{
	text-align: center;
}

p.pageheading
{
	text-decoration: underline;
}

p.pageheading, p.heading, p.subheading
{
	font-weight: bold;
}

p.pageheading, p.heading
{
	font-size: 24pt;
}

p.subheading
{
	font-size: 18pt;
}


div.bingoseedrow
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

div.bingoseed
{
	margin: 15px;
	padding: 0px 30px;
	align-self: flex-start;
	border: solid 1px #898989;
}

p.bingoseedtitle
{
	font-weight: bold;
}

p.bingoseednumber
{
	font-family: monospace;
	font-size: 18pt;
	line-height: 0pt;
}

table.bingocard
{
	margin: 0px auto;
	border-spacing: 0px;
}

table.bingocard, table.bingocard td
{
	border: solid 1px #494949;
}

table.bingocard td
{
	background-color: #898989;
	padding: 8px;
}

table.bingocard td, table.bingocard img
{
	width: 32px;
	height: 32px;
	image-rendering: pixelated;
}
table.bingocard td.bad
{
	background-color: #890000;
}
table.bingocard td.slowmobdrop
{
	background-color: #898900;
}		
img
{
	border: none;
}

p.version
{
	color: #009900;
}

div.itemcats
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

div.itemcat
{
	margin: 10px;
	padding: 0px 20px 20px;
	align-self: flex-start;
}

table.itemcat
{
	margin: 0px auto;
	border-spacing: 0px;
	width: 225px;
}

table.itemcat td
{
	border-bottom: solid 1px #898989;
}

table.itemcat td.weight
{
	width: 25px;
}

.duplicateItem
{
	background-color: #D2E0FB;
}

table.itemcat th
{
	background-color: #898989;
	color: #FFFFFF;
	text-align: left;
}

table.itemcat th, table.itemcat td
{
	vertical-align: middle;
	padding: 2px;
}

table.itemcat th.weight, table.itemcat td.weight
{
	text-align: right;
}

table.itemcat td.invicon, table.itemcat td img
{
	width: 32px;
}

table.itemcat td img
{	height: 32px;
	image-rendering: pixelated;
	vertical-align: middle;
}

p.catheading
{
	font-weight: bold;
}

p.alertbox
{
	margin: 0px auto;
	padding: 10px;
	max-width: 700px;
	background-color: #FFFFCC;
	color: #FF0000;
	border: dotted 1px #FF0000;
	line-height: 18pt;
}

div#pagefooter
{
	position: fixed;
	bottom: 0px;
}

div#pagecontent
{
	margin-bottom: 10px;
}

div#pageheader, div #pagecontent, div #pagefooter
{
	width: 100%;
}